<div class="container">
    <h1>いまどうしてる？</h1>
    </br>
    <%= link_to "さあ、始めよう", twints_path, class: 'btn btn-primary btn-lg' %>
    <button type="button" class="btn btn-link">アカウント作成</button>
</div>
